.container {
  background-image: linear-gradient(to top, #fddb92 0%, #d1fdff 100%);
}
.form {
  width: 300px;
  float: right;
  margin-top: 35px;
  border: none;
}
h1 {
  color: #588da8;
  font-size: 50px;
  margin-top: 15px;
}
h2,
h3 {
  color: #323232;
}
h2 {
  margin-top: 25px;
  float: right;
}
#time {
  float: right;
}
h3 {
  margin-bottom: 15px;
}
i {
  font-size: 100px;
  color: #84a9ac;
  margin-bottom: 35px;
}
h4 {
  color: #888888;
}
.row i {
  font-size: 35px;
}
.row p {
  font-size: 25px;
  color: #888888;
}
.col-2 {
  text-align: center;
  margin: 5px;
}
#fivedays {
  margin-top: 20px;
  margin-left: 20px;
  padding-bottom: 25px;
}
#temp {
  font-size: 45px;
}
